<nav id="sideNav">
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav flex-container black">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          Дадаць крыніцу
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help']">
          Дадаць падзею
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/voting']">
          Пра сэрвіс
        </a>
      </li>
    </ul>
  </div>
</nav>
