<app-navbar></app-navbar>
<div id="title">
  <div class="logo-container">
    <img width="50" src="assets/logo.png" class="logo-image"/>
    <span class="logo-text">Падзеі</span>
  </div>
    <ul class="flex-container city-menu">
      <li class="item"><a href="#">Менска</a></li>
      <li class="item disabled"><a href="#">Гародні</a></li>
      <li class="item disabled"><a href="#">Брэста</a></li>
    </ul>
</div>

<div class="login-button">
  <button mat-raised-button color="primary" (click)="signIn()" *ngIf="!authenticated">Увайсці</button>
</div>

<div *ngIf="authenticated">
  <div id="filters" class="flex-container">
    <mat-form-field color="primary">
      <mat-label>Калі?</mat-label>
      <input matInput autocomplete="off" [matDatepicker]="picker1" (dateInput)="getEvents($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 color="accent"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Тып падзей</mat-label>
      <mat-select [formControl]="eventTypes" multiple (selectionChange)="onTypeChange($event)">
        <mat-option *ngFor="let eventType of eventTypeList" [value]="eventType">
          {{eventTypeMapping[eventType]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ul id="filter-checkboxes">
      <li>
        <mat-checkbox [(ngModel)]="filters.free" (change)="filterEvents()">Бескаштоўна</mat-checkbox>
      </li>
      <li>
        <mat-checkbox [(ngModel)]="filters.kids" (change)="filterEvents()">Для дзяцей</mat-checkbox>
      </li>
    </ul>
  </div>

  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div id="events" class="flex-container" *ngIf="!loading">
      <app-event  *ngFor="let event of filteredEvents" [Model]="event" (refreshEventList)="removeEvent($event)"></app-event>
  </div>
</div>

<div class="logout-button">
  <button mat-raised-button color="accent"  (click)="signOut()" *ngIf="authenticated">Выйсці</button>
</div>
