.full-width {
  width: 100%;
}

.event-date {
  width: 160px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.datetime {
  width: 160px;
  float: left;
}

.hour {
  width: 80px;
}

.minute  {
  width: 80px;
}

.add-button {
  float: left;
  line-height: 120px;

}

.remove-button {
}
